body, html {
}
.row1 {
  background-color: #14171A;
}

.row2 {
  color: black;
}
.spacer {
  padding: 100px;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  color: white;
  text-align: center;
  font-family: 'Euphoria Script', cursive;
  font-size: 50px;
}

.subtext {
  color: gray;
  text-align: center;
}

.title {
  font-size: 20px;
}

.pos {
  font-size: 16px;
  color: #343434;
  margin-right: 10px !important;
  border-left: 2px solid black;
  padding-left: 10px;
}

.card{
  float: none;
  margin: 0px auto;
  border-radius: 15px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.3)

}
.btnRevenite {
  background: #343434;
  border: 1px solid #343434;
  width: 275px;
  float: left;
  margin: 0px auto;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.3)
}

.btnRevenite:hover {
  color: white;
  background: #4AC07D;
  border: 1px solid #4AC07D;
  transition: 0.75s;
}

.contact {
  text-align: center;
}
.contact a i{
  font-size: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #343434;
  padding: 20px;
  border: 2px solid #343434;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 3px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.3)

}
i.fa-envelope:hover {
  color: #343434;
  background-color: white;
}
i.fa-twitter:hover{
  background-color: #1DA1F2;
}

i.fa-discord:hover{
  background-color: #7289DA;
}

i.fa-github:hover {
  background-color: #25292E;
}

i.fa-spotify:hover {
  color: #1db954;
  background-color: black;
}

i.fa-steam-square:hover {
  color: white;
  background-color: #171A21;
}

i.fa-bitbucket:hover {
  color: white;
  background-color: #205081;
}

i.fa-codepen:hover {
  color: white;
  background-color: black;
}

i.fa-shopping-cart:hover {
  color: white;
  background-color: #ff2d37;
}
footer p {
  padding-top: 100px;
  color: #343434;
  text-align: center;
}

    @media (min-width : 320px) {
      body, html {
        overflow: auto;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
      body, html {
        overflow: auto;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      body, html {
        overflow: hidden;
      }
    }
